body {
  background: #0e0e0e;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background: orange;
  color: #000;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #333;
}

.OK { color: #00ff88; }
.ATENCAO { color: #ffd000; }
.CRITICO { color: #ff4d4d; }
