body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:linear-gradient(135deg,#020c1b,#081a33);
  color:white;
}

/* LOGIN */

.auth-body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.auth-card{
  background:#0d1b3a;
  padding:50px;
  border-radius:20px;
  width:400px;
  text-align:center;
  box-shadow:0 20px 40px rgba(0,0,0,.5);
}

.auth-logo{
  width:150px;
  margin-bottom:20px;
}

.auth-title{
  color:#ff8c2f;
  margin-bottom:5px;
}

.auth-subtitle{
  color:#ccc;
  margin-bottom:30px;
}

.auth-input{
  width:100%;
  padding:12px;
  margin-bottom:15px;
  border-radius:10px;
  border:none;
  background:#08142b;
  color:white;
}

.auth-btn{
  width:100%;
  padding:15px;
  border-radius:30px;
  border:none;
  background:linear-gradient(90deg,#ff7a18,#ff9e43);
  font-weight:bold;
  cursor:pointer;
}

.auth-msg{
  margin-top:15px;
  color:#ff5b5b;
}

/* SISTEMA */

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
  background:#0d1b3a;
}

.logo-area{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo-header{
  width:60px;
}

.logout-btn{
  background:#ff4d4d;
  border:none;
  padding:10px 20px;
  border-radius:20px;
  cursor:pointer;
  color:white;
}

.content{
  padding:40px;
}
